<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時事ニュースクイズサイト</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/quiz_title.css' %}">
</head>

<body>
    <div class="container">
        <div id="header">
            <h1>aaaaaaaaaaaaaaaaaa</h1>
        </div>
        <div class="content">
            <h2>{{ random_quizObjects.quiz_text }}</h2>
        </div>
    </div>
</body>

</html>